// {
//   "presents": ["next/label"]
// }
// {
//   "presents": ["next/babel"],
//   "plugin": []
// }
// {
//   "presents": ["@babel/preset-react"]
// }
{
  "plugins": ["@babel/plugin-syntax-jsx"]
}
